/* Styl formularza rejestracyjnego */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

.register-form {
    background-color: #eb0003; /* Light red background */
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto; /* Center the form horizontally */
    width: 400px; /* Set a maximum width for responsiveness */
    text-align: left; /* Align text to the left inside the form */
}

    .register-form h2 {
        margin-bottom: 30px;
        text-align: center; /* Center the title */
        color: white;
    }

.form-group {
    margin-bottom: 15px; /* Add some spacing between form groups */
}

    .form-group label {
        color: white; /* White text for labels */
    }

    .form-group input {
        border: 3px solid red; /* Red border for input fields */
        padding: 10px;
        border-radius: 5px; /* Rounded corners for individual fields */
        width: calc(100% - 26px); /* Full width minus padding and border */
        box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    }

.btn-primary {
    background-color: #5f33ff; /* Button background color */
    border: 1px solid black; /* Button border color */
    margin-top: 15px; /* Top margin for the button */
    padding: 10px 20px; /* Padding inside the button */
    color: white; /* Button text color */
    display: block; /* Make the button a block element */
    margin: 15px auto; /* Center the button */
    text-align: center;
}

.register-link {
    text-align: center;
}

    .register-link a {
        color: #ffffff; /* Link color */
        text-decoration: none; /* Remove underline from the link */
    }
