
/*site.css*/
/* Global styling for the body */
body {
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styling for the navigation bar */
.navbar {
    background-color: #eb0003; /* Light red background */
    padding: 1rem;
}

.nav-link, .navbar-brand {
    color: white !important;
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 40px; /* Increase the font size of the brand */
    text-shadow: 3px 3px 4px #000000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    font-size: 1.5rem;
}
.dropdown-menu {
    background-color: #a00002; /* Darker red background for dropdown */
}
.dropdown-item:hover {
    background-color: #ff3333; /* Lighter red on hover */
    color: white; /* White text on hover */
}
.move-to-right {
    margin-left: 40px;
}
#chat-box.collapsed {
    height: 30px;
    width: 300px;
    overflow: hidden;
}

#chat-box.expanded {
    height: 300px;
    width: 300px;
}

/* Styling for the main content area */
.container {
    flex: 1;
    padding: 20px;
}

/* Styling for the footer */
.footer {
    background-color: #eb0003; /* Light red background */
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 1px solid #eb0003;
}

/* Styling for the login form */
.login-form {
    background-color: #eb0003; /* Light red background */
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto; /* Center the form horizontally */
    width: 400px; /* Set a maximum width for responsiveness */
    text-align: left; /* Align text to the left inside the form */
}

    .login-form h2 {
        margin-bottom: 30px;
        text-align: center; /* Center the title */
        color: white;
        border: 2px solid black; /* Add black border to the heading */
        padding: 10px; /* Add padding to the heading for better spacing */
    }

.form-group {
    margin-bottom: 15px; /* Add some spacing between form groups */
}

    .form-group label {
        color: white; /* White text for labels */
    }

    .form-group input {
        border: 3px solid black; /* Black border for input fields */
        padding: 10px;
        border-radius: 5px; /* Rounded corners for individual fields */
        width: calc(100% - 26px); /* Full width minus padding and border */
        box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    }

.btn-primary {
    background-color: #5f33ff; /* Button background color */
    border: 1px solid black; /* Button border color */
    margin-top: 15px; /* Top margin for the button */
    padding: 10px 20px; /* Padding inside the button */
    color: white; /* Button text color */
    display: block; /* Make the button a block element */
    margin: 15px auto; /* Center the button */
    text-align: center;
}

.register-link {
    text-align: center;
}

    .register-link a {
        color: #ffffff; /* Link color */
        text-decoration: none; /* Remove underline from the link */
    }

.forgot-password {
    text-align: center;
}

    .forgot-password a {
        color: #ffffff; /* Link color */
        text-decoration: none; /* Remove underline from the link */
    }

.table {
    border-collapse: separate;
    border-spacing: 0;
    color: black;
}

    .table th,
    .table td {
        border-bottom: 3px solid #333; /* Kreska dolna */
        padding: 12px; /* Wewnêtrzny odstêp */
        vertical-align: top; /* Wyrównanie tekstu */
    }
a {
    color: lightgrey; /* Ustawienie koloru linków na czerwony */
}
.table-danger-dark {
    background-color: brown; /* Ciemniejszy czerwony kolor dla zbanowanych u¿ytkowników */
}
#sessionTimer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    padding: 5px 10px;
}

.container-first {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: flex-start;
    width: 720px;
    height: 300px;
    padding: 0px 0px 0px 20px;
}

.red-item, .black-item, .zero-item, .column-item {
    box-sizing: border-box;
    border: none;
    border-left: 3px solid white;
    border-top: 3px solid white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 50px;
    font-size: 30px;
    color: white;
}

.zero-item {
    background-color: green;
    border-bottom: 3px solid white;
    padding-top: 131px;
    padding-bottom: 111px;
}

    .red-item {
        background-color: red;
    }

    .black-item {
        background-color: black;
    }

.column-item {
    border: solid white;
    background-color: green;
    padding-top: 22.6px;
    padding-bottom: 25px;
    text-align: center;
    width: 60px;
    font-size: 30px;
    color: white;
}

.container-second, .container-third {
    display: flex;
    width: auto;
    height: 57px;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 0px 0px 0px 72px;
}

.doz-item {
    flex-basis: 199.3px;
    border: solid white;
    background-color: green;
    padding-top: 5px;
    padding-bottom: 50px;
    text-align: center;
    height: 15px;
    font-size: 30px;
    color: white;
}
.outside-section {
    flex-basis: 99.6px;
    border: solid white;
    background-color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: white;
}

.rhomb-red, .rhomb-black {
    display: inline-block;
    width: 27px;
    height: 27px;
    border: solid white;
    transform: rotate(45deg);
}

    .rhomb-red {
        background-color: red;
    }

    .rhomb-black {
        background-color: black;
    }

    .value {
        transform: none;
    }

.selected {
    background-color: yellow !important;
}

.flash {
    background-color: lightgreen !important;
}

.result-info {
    position: absolute;
    top: 155px;
    right: 250px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
}

.recent-bets {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.recent-bet {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    font-size: 16px;
}

    .recent-bet.win {
        background-color: lightgreen;
    }

    .recent-bet.loss {
        background-color: lightcoral;
    }

h3 {
    font-size: 20px;
}

.recent-rolls-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.recent-roll {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

    .recent-roll.red {
        background-color: red;
    }

    .recent-roll.black {
        background-color: black;
    }

    .recent-roll.green {
        background-color: green;
    }

.recent-rolls-container .recent-roll {
    animation: move-left 1s forwards;
}

@keyframes move-left {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.flash {
    animation: flash-animation 5s forwards;
}

@keyframes flash-animation {
    from {
        background-color: lightgreen;
    }

    to {
        background-color: lightgreen;
    }
}

.hero-section {
    background-image: url('~/images/hero.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20px;
}

.features-section, .admin-features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.feature, .admin-feature {
    display: flex;
    width: 45%;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

    .feature img, .admin-feature img {
        width: 90%;
        height: auto;
    }

.feature-content, .admin-feature-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

    .btn:hover {
        background-color: #555;
    }