@model ScamBet.Entities.Match

<h2>Create New Match</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="team1">Team A</label>
        <input asp-for="team1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="team2">Team B</label>
        <input asp-for="team2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="time">Date</label>
        <input asp-for="time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="winner">Result</label>
        <input asp-for="winner" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
