@model ScamBet.Entities.Match

<h2>Edit Match</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="match_ID" />
    <div class="form-group">
        <label asp-for="team1">Team A</label>
        <input asp-for="team1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="team2">Team B</label>
        <input asp-for="team2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="time">Date</label>
        <input asp-for="time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="winner">Result</label>
        <input asp-for="winner" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
