<div id="chat-box" style="position: fixed; bottom: 0; right: 0; width: 300px; background-color: white; border: 1px solid #ccc; padding: 10px; z-index: 1000;">
    <h4>Live Chat</h4>
    <div id="messagesList" style="height: 200px; overflow-y: scroll; border: 1px solid #ccc; padding: 5px;"></div>
    <input type="text" id="userInput" placeholder="Name" class="form-control" />
    <input type="text" id="messageInput" placeholder="Message" class="form-control" />
    <button id="sendButton" class="btn btn-primary btn-block mt-2">Send</button>
</div>
