<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScamBet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {

        <div id="sessionTimer">Czas sesji: 10:00</div>
        <script>
            var sessionTimer = document.getElementById('sessionTimer');
            var sessionTimeInSeconds = 10 * 60;

            function updateSessionTimer() {
                var minutes = Math.floor(sessionTimeInSeconds / 60);
                var seconds = sessionTimeInSeconds % 60;
                sessionTimer.textContent = 'Czas sesji: ' + minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');

                sessionTimeInSeconds--;

                if (sessionTimeInSeconds < 0) {
                    window.location.href = '/Home/Login';
                }
            }

            setInterval(updateSessionTimer, 1000);
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

                connection.on("ReceiveMessage", function (user, message) {
                    const msg = document.createElement("div");
                    msg.innerHTML = `<strong>${user}</strong>: ${message}`;
                    document.getElementById("messagesList").appendChild(msg);
                });

                connection.start().catch(function (err) {
                    return console.error(err.toString());
                });

                // Toggle chat visibility
                document.getElementById("toggleChat").addEventListener("click", function () {
                    const chatBox = document.getElementById("chatBox");
                    chatBox.classList.toggle("expanded");
                    if (chatBox.classList.contains("expanded")) {
                        connection.start().catch(function (err) {
                            return console.error(err.toString());
                        });
                    } else {
                        connection.stop().catch(function (err) {
                            return console.error(err.toString());
                        });
                    }
                });

                document.getElementById("sendButton").addEventListener("click", function (event) {
                    const user = document.getElementById("userInput").value;
                    const message = document.getElementById("messageInput").value;
                    connection.invoke("SendMessage", user, message).catch(function (err) {
                        return console.error(err.toString());
                    });
                    document.getElementById("messageInput").value = '';
                    event.preventDefault();
                });
            });
        </script>



        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><strong>ScamBet</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 move-to-right">
                       
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="AdminIndex">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Index">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Team" asp-action="Index">Teams</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Match" asp-action="Index">Match</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Roulette" asp-action="TopWins">TopWins</a>
                            </li>
                        }
                        else if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="UserIndex">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Roulette" asp-action="Play">Roulette</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Bet">Bet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="MyBets">MyBets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="LiveGame" asp-action="Index">LiveGame</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Roulette" asp-action="TopWins">TopWins</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav mr-auto justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="navbar-toggler-icon"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                @if (User.IsInRole("User"))
                                {
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="MyAccount">My Account</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="History">History</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Deposit">Deposit</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Withdraw">Withdraw</a></li>
                                }
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    }
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
