@model ScamBet.Entities.Team

<h2>Create New Team</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="name">Name</label>
        <input asp-for="name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="wins">Wins</label>
        <input asp-for="wins" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="draws">Draws</label>
        <input asp-for="draws" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="loses">Loses</label>
        <input asp-for="loses" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="points">Points</label>
        <input asp-for="points" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
