@model ScamBet.Entities.Team

<h2>Edit Team</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="team_ID" />
    <div class="form-group">
        <label asp-for="name">Name</label>
        <input asp-for="name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="wins">Wins</label>
        <input asp-for="wins" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="draws">Draws</label>
        <input asp-for="draws" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="loses">Loses</label>
        <input asp-for="loses" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
