@model ScamBet.Entities.Admin

<form asp-action="Edit">
    <input type="hidden" asp-for="user_ID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="username" class="control-label"></label>
        <input asp-for="username" class="form-control" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <!-- Reszta pól dla klasy Account -->
    <div class="form-group">
        <label asp-for="admin_rank" class="control-label"></label>
        <input asp-for="admin_rank" class="form-control" />
        <span asp-validation-for="admin_rank" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

