@{
    ViewData["Title"] = "Strona Główna";
}

<div id="StronaGlowna">
    <h1>Witaj na ScamBet - Twoim zaufanym partnerze w zakładach!</h1>
    <p>Znajdziesz tutaj najlepsze kursy oraz szeroki wybór zakładów na najpopularniejsze wydarzenia sportowe.</p>
    <p>Dołącz do naszej społeczności już dziś i skorzystaj z ekskluzywnych promocji oraz bonusów!</p>
</div>

@section Scripts {
    <script src="~/dist/StronaGlowna.js"></script>
}
