@model ScamBet.Entities.Account

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/LoginForm.css" />
</head>

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="login-form">
        <h2>@ViewData["Title"]</h2>

        <form asp-controller="Home" asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div>
            <a asp-action="Register">Don't' have an account? Register.</a>
        </div>
    </div>
</div>
