@model ScamBet.Entities.Account

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/LoginForm.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1><strong>ScamBet</strong></h1>
        <form class="login-form" asp-action="Login" method="post">
            <h2 class="bordered-heading">Login Form</h2>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email:</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password:</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="register-link">
            <a asp-action="Register">Not registered yet?</a>
        </div>
    </div>
</body>
</html>
