@model ScamBet.Entities.Account

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/RegisterForm.css">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1><strong>ScamBet</strong></h1>
        <form class="register-form" asp-action="Register" method="post">
            <h2>Registration Form</h2>
            <div class="form-group">
                <label asp-for="name" class="control-label">Name:</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surname" class="control-label">Surname:</label>
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="username" class="control-label">Username:</label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email:</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password:</label>
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.ErrorMessage
            </div>
        }

        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        <div class="register-link">
            <a asp-action="Login">Already have an account?</a>
        </div>
    </div>
</body>
</html>
